<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aanto.quickjoin" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickJoin" >
        <activity
            android:name=".AddAdminActivity"
            android:exported="true" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".StudentHomeActivity"
            android:exported="true" />
        <activity
            android:name=".ViewTimeTableActivity"
            android:exported="true" />
        <activity
            android:name=".AddTimeTableActivity"
            android:exported="true" />
        <activity
            android:name=".ViewSubjectActivity"
            android:exported="true" />
        <activity
            android:name=".AddSubjectActivity"
            android:exported="true" />
        <activity
            android:name=".AddFacultyActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>